<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/canvasjs.min.js"></script>
    <script type="text/javascript">
        var myChart = new JSChart('chartid', 'pie');
        myChart.setDataJSON("E:\\finalproject2019\\finalproject2019\\finalproject2019\\finalproject2019\\file.json");
        myChart.draw();

    </script>

</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="../js/canvasjs.min.js"></script>
<!--<script src="../js/myfile.js"></script>-->
<script src="../js/jquery/jquery-2.2.4.min.js"></script>

<script type="text/javascript" src="ps6fi.json"></script>
</body>
</html>
