<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Head -->

<head>
	<title>Key Login Form Flat Responsive Widget Template :: W3layouts</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Key Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
	<script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
	</script>
	<!-- //Meta-Tags -->
	<!-- Index-Page-CSS -->
	<link rel="stylesheet" href="css/style2.css" type="text/css" media="all">
	<!-- //Custom-Stylesheet-Links -->
	<!--fonts -->
	<!-- //fonts -->
	<link rel="stylesheet" href="css/font-awesome2.min.css" type="text/css" media="all">
	<!-- //Font-Awesome-File-Links -->

	<!-- Google fonts -->
	<link href="//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<!-- Google fonts -->

</head>
<!-- //Head -->
<!-- Body -->
<style>

	#t{
		font-size: 20px;
		color: white;
	}
	#m{
		font-size: 30px;
		color: white;
	}
</style>
<body>

<section class="main">
	<div class="layer">

		<div class="bottom-grid">
			<div class="logo">
				<h1> <a href="index.html"><span class="fa fa-key"></span> Key</a></h1>
			</div>
			<!--<div class="links">-->
			<!--<ul class="links-unordered-list">-->
			<!--<li class="active">-->
			<!--<a href="#" class="">Login</a>-->
			<!--</li>-->
			<!--<li class="">-->
			<!--<a href="#" class="">About Us</a>-->
			<!--</li>-->
			<!--<li class="">-->
			<!--<a href="#" class="">Register</a>-->
			<!--</li>-->
			<!--<li class="">-->
			<!--<a href="#" class="">Contact</a>-->
			<!--</li>-->
			<!--</ul>-->
			<!--</div>-->
		</div>
		<div class="content-w3ls">

			<div class="content-bottom">
				<form action="#" method="post">

					<div class="col-sm-12 controls" >
						<span th:text="${message}"></span>
						<p id="t">
							Mot de passe réinitialisé avec succès. Vous pouvez maintenant vous connecter avec les nouvelles informations d'identification.
						</p>
						<a id="m" href="/login"><i class="glyphicon glyphicon-log-in" aria-hidden="true"> Login</i></a>
					</div>
				</form>
			</div>
		</div>

	</div>
</section>

</body>
<!-- //Body -->
</html>
